body {
    background-color: rgb(238, 238, 248);
    font-family: 'Comfortaa', cursive;
}

body a {
    text-decoration: unset;
}

.signin_box {
    width: 800px;
    height: 600px;
    margin: 40px auto;
    background-color: rgb(248, 241, 241);
    border-radius: 5px;
    border: 1px solid rgb(241, 230, 230);
    box-shadow: 0.5px 0.5px 10px rgb(178, 200, 230);
}

.signin_box>div:nth-of-type(1) {
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: underline;
}

.form {
    width: 57%;
    margin: 20px auto;
    border: 1px solid rgb(238, 203, 203);
    background-color: rgb(250, 245, 245);
    border-radius: 5px;
    box-shadow: 1px 0.5px 10px rgb(230, 225, 225);
}

.form>div {
    margin: 20px 0px;
}

.form div:nth-of-type(1) {
    font-size: 35px;
    text-align: center;
}

.form label {
    font-size: 20px;
    margin-left: 10px;
}

.form input {
    padding: 15px 100px;
    margin: 10px 5px;
}

.form input:hover {
    box-shadow: 1px 1px 10px rgb(221, 173, 181);
}

.form input[placeholder] {
    color: rgb(151, 158, 151);
}

.form input[type="submit"] {
    padding: 20px 195px;
    background-color: rgb(46, 185, 46);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(51, 150, 51);
}

.form div:nth-of-type(5) {
    text-align: center;
}